<h1>Listing creatives</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @creatives.each do |creative| %>
    <tr>
      <td><%= creative.name %></td>
      <td><%= creative.url %></td>
      <td><%= link_to 'Show', creative %></td>
      <td><%= link_to 'Edit', edit_creative_path(creative) %></td>
      <td><%= link_to 'Destroy', creative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to new_creative_path, :class => 'btn btn-primary' do %>
  <i class="icon-plus"></i>
  New Creative
<% end %>
